.heading{
    font-size:3em;
    margin-top:150px;
    text-align: center;
    font-weight: bolder;
}

#khannaimage{
    display: block;
    width:20%;
    margin: 20px auto;
    min-width: 150px;
}

#gogreen{
    width: 90%;
    display: block;
    margin: 20px auto;
    max-width: 100vw;
    position: center center;
}

.content{
    font-size: 1em;
    text-align: justify;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }

  .image-overlay-div:hover .image {
    opacity: 0.1;
  }
  
  .image-overlay-div:hover .middle {
    opacity: 1;
  }

  .image-overlay-div{
      margin-bottom:100px;
  }

  .products img{
    width:100px;
    height: 150px;;
  }

  @media screen and (min-width:768px){
      .content{
          font-size: 1.3em;
      }
  }